/* Account Sidebar Section CSS Start */

.account-wrapper {
  padding: 60px 0 110px;
}

.account-sidebar h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: var(--primary);
  margin-bottom: 40px;
}

.account-sidebar-menu ul li {
  display: flex;
  width: 295px;
  padding: 13px 0;
  margin: 15px 0;
  background: #f4f4f4;
  border-radius: 4px;
}

.account-sidebar-menu ul li.active {
  background: var(--primary);
}

.account-sidebar-menu ul li img {
  padding: 0px 22px;
  margin-top: -4px;
}

.account-sidebar-menu ul li a {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #878787;
}

.account-sidebar-menu ul li.active a {
  color: #ffffff;
}

/* Account Sidebar Section CSS End */

/* My Rental Section CSS Start */

.rental-wrapper {
  background: #fbfaf8;
  padding: 35px 10px;
}

.rental-wrapper h4 {
  font-size: 24px;
  font-weight: 600;
  color: #5e452a;
  padding-left: 55px;
  margin-bottom: 30px;
}

.rental-tag {
  padding: 30px 0 5px 30px;
}

.rental-tag span {
  display: block;
  width: 180px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  padding: 6px 0;
  background: #fe9923;
  border-radius: 8px;
}

.rental-item {
  max-width: 80%;
  padding: 20px 30px;
  margin-top: 15px;
  background: #ffffff;
  border-radius: 8px;
}

.rental-item-content {
  width: 70%;
}

.rental-item-price {
  width: 30%;
}

.rental-item-img {
  max-width: 128px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.rental-item-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.rental-item-text span {
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 7px;
}

.rental-item-text h6 {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.rental-item-color p {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 0;
}

.rental-item-color span {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 15px;
  background: #f1cdbe;
  border-radius: 4px;
}

.rental-item-price h5 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 0;
}

.rental-item-price a {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

/* My Rental Section CSS End */
