@media (min-width: 1200px) and (max-width: 1399px) {
  .hero-wrapper {
    padding: 150px 0 180px;
  }

  .rent-process-container {
    max-width: 90%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hero-wrapper {
    padding: 150px 0 180px;
  }

  .hero-content h1 {
    font-size: 38px;
    line-height: 110%;
  }

  .hero-content p {
    font-size: 16px;
  }

  .hero-img img {
    max-width: 95%;
  }

  .rent-process-container {
    max-width: 100%;
  }

  .rent-process-card h6 {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero-wrapper {
    padding: 150px 0 180px;
  }

  .hero-content h1 {
    font-size: 32px;
    line-height: 100%;
  }

  .hero-content p {
    font-size: 16px;
  }

  .hero-btn a {
    font-size: 18px;
  }

  .hero-img img {
    max-width: 100%;
    margin-top: 50px;
  }

  .rent-process-container {
    max-width: 100%;
  }

  .rent-process-card h6 {
    font-size: 20px;
  }

  .rental-products-title h4,
  .about-content h4,
  .partner-title h4,
  .clients-content h4,
  .requested-car-title h4 {
    font-size: 24px;
  }

  .about-content p {
    font-size: 16px;
  }

  .car-category-container {
    flex-direction: column;
  }

  .car-category-left,
  .car-category-right {
    width: 100%;
    margin-left: 0;
  }

  .car-category-left-wrapper h2 {
    font-size: 50px;
    line-height: 50px;
  }

  .requested-car-slider {
    padding-top: 100px;
  }

  .requested-car-wrapper .owl-nav {
    position: absolute;
    top: -53px;
    right: 20px;
  }

  .about-content h3 {
    font-size: 25px;
  }

  .about-img img {
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    height: 100%;
    object-fit: initial;
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  .hero-content h1 {
    font-size: 30px;
    line-height: 100%;
  }

  .hero-content p {
    font-size: 16px;
  }

  .hero-btn a {
    font-size: 18px;
  }

  .hero-img img {
    max-width: 100%;
    margin-top: 50px;
  }

  .rent-line::after {
    width: 0;
  }

  .rent-process-container {
    padding: 50px 30px;
  }

  .rental-products-title {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
  }

  span.rental-pdct-disc {
    top: 15px;
    left: 15px;
  }

  .rental-products-slide h6 {
    font-size: 15px;
  }

  .rental-products-slide p {
    font-size: 14px;
    line-height: 8px;
  }

  .rental-products-title h4,
  .about-content h4,
  .partner-title h4,
  .clients-content h4,
  .requested-car-title h4 {
    font-size: 24px;
  }

  .about-content p {
    font-size: 16px;
  }

  .car-category-container {
    flex-direction: column;
  }

  .car-cat-btn {
    font-size: 14px;
  }

  .car-category-left,
  .car-category-right {
    width: 100%;
    margin-left: 0;
  }

  .car-category-left-wrapper h2 {
    font-size: 40px;
    line-height: 40px;
  }

  .car-category-left-wrapper p {
    padding-right: 0;
  }

  .requested-car-slider {
    padding-top: 100px;
  }

  .requested-car-slide {
    padding: 0;
  }

  .requested-car-slide {
    font-size: 18px;
  }

  .requested-car-slide p,
  .requested-car-content a {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .requested-car-wrapper .owl-nav {
    position: absolute;
    top: 0px;
    right: 20px;
  }

  .partners {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .partners img {
    width: 80%;
  }

  .about-content h3 {
    font-size: 25px;
  }

  .about-img img {
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    height: 100%;
    object-fit: initial;
  }

  .about-car-steps-wrapper {
    padding: 20px 20px 0;
  }

  .about-car-text h4 {
    font-size: 20px;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .hero-wrapper {
    padding: 150px 0 400px;
  }

  .rent-process-container {
    max-width: 100%;
  }

  .rent-process-card h6 {
    font-size: 20px;
  }
}

@media (min-width: 300px) and (max-width: 575px) {
  .hero-wrapper {
    padding: 150px 0 300px;
  }

  .rent-process-container {
    max-width: 100%;
  }

  .rent-process-card h6 {
    font-size: 20px;
  }
}
